@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');


* {
    font-family: 'Caveat', cursive;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #F1ACE6;
}

header{
    background-color: #FC53C9;
}

header > h1 {
    padding: 10px;
    text-align: center;
    font-size: 3em;
}

i#burguer {
    background-color: #FF00B3 ;
    color: #FFFF;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: #FFFF;
    color: #FF00B3
}
menu {
    display: block;
    font-size: 1.5em;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #FF00B3;
    color: #FFFF;
    border-top: 2px solid #FFFF;
}

menu > ul > li > a:hover {
   background-color: #F86FC8;
}

main {
    width: 90vw;
    background-color: #FFFF;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
}

article > h3 {
    text-align: center;
    margin-bottom: 20px;
    text-indent: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

article > p > a:link {
    color: #FF00B3;
}

article > p > a:hover {
    color: #FF00B3;
}

main > h2 {
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
}


.video-container{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container2{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container2 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container3{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container3 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container4{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container4 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container5{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container5 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container6{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container6 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container7{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container7 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container8{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container8 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container9{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container9 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container10{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container10 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container11{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container11 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container12{
    
    height: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    background-color: #FFFF;
}

.video-container12 iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}